@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/JosefinSans-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lora';
    src: url('../font/Lora-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lora';
    src: url('../font/Lora-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  

 a, p, h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: bold;
    color: rgba(33, 75, 110, 1);
}

body {
    min-height: 100vh;  
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, footer {
  align-items: center;

}

header, footer {
  display: flex;
  align-items: center;

}

footer {
  display: flex;
  flex-direction: column;
  align-items: left;

}

header a {
  padding: 20px;
}

footer a {
  padding: 10px;
}



a {
  text-decoration: none;
  color: rgba(33, 75, 110, 1);
}

.logo {
    font-family: 'Josefin Sans';
    font-size: 1.5em;   
    color: rgba(33, 75, 110, 1);
    text-align: left;
    text-decoration: none;
    max-width: 100px;
    }

        nav {
          display: block;
          position: static;
          top: 0;
          text-decoration: none;
        }
  

    nav ul{
      padding: 0px;
  }
  
  nav li {
      display: inline-block;
      padding: 0px;
  }
  header label {
    display: none;
}

footer {
    font-size: 0.7rem;
    padding: 10px;
}

footer li {
    list-style-type: none;
}

login-register-links-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#error-message {
    color: red;
    font-size: 0.8rem;
    margin: 0;
}

.cta {
  background-color: rgba(53, 151, 131, 1);
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.cta::before {
  content: "";
  padding: 10px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  height: 100px;
  top: -40px;
  left: -100px;
  transition: left ease-in-out 1s;
  opacity: 0.3;
}

.cta:hover:before {
  left: 110%;
}


.cta-large {
  padding:10px 40px;
}

 button {
  background-color: rgba(53, 151, 131, 1);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 0.7em;
  min-width: 51.2px;
  text-align: center;
  margin-top: 5px;
}

button:hover {
  background-color: rgba(53, 151, 131, 0.8);
}

button:disabled, button[disabled] {
  background-color: rgb(223, 223, 223);
}

.profile-container {
  display: none;
}

.profile-info {
  margin-right: 10px;
}

.logout-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.logout-btn {
  background-color: rgba(53, 151, 131, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: rgba(53, 151, 131, 0.8);
  }

  h1 {
    font-size: 1.2rem;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.blogpost-section {
  max-width: 750px;
  margin: auto;
  text-align: left;
  line-height: 1.5;
  padding: 10px;
}

